<footer class="site-footer">
  <div class="wrapper">
    <div class="social-icons">
      <a class="vbo" target="_blank" href="http://weibo.com/{{ site.weibo_username}}" title="微博"><i class="icon icon-weibo"></i></a>
      <a class="github" target="_blank" href="https://github.com/{{ site.github_username }}" title="Github"><i class="icon icon-github"></i></a>
    </div>
    <div class="copy-right">&copy; Copyright 2016 Ranger. All rights reserved. &emsp;Designed By Ranger</div>
  </div>
</footer>
