<header class="site-header clear">
  <div class="wrapper">

    <a href="/{{ site.baseurl }}" class="site-logo">
      <img src="/assets/images/logo.png" alt="Ranger">
    </a>

    <nav class="site-nav f-right">
        <a href="/"><h5>HOME</h5></a>
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}"><h5>{{ my_page.title }}</h5></a>
          {% endif %}
        {% endfor %}
    </nav>

  </div>
</header>
