/* common style */

.icon{
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #aaa;
  background-image: url("/assets/images/social.png");
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  &:hover{
    cursor: pointer;
    border-radius: 10%;
  }
}
.icon-weibo{
  background-position: -48px 0;
}
.icon-github{
  background-position: 0 0;
}
.icon-mail{
  background-position: -96px 0;
}