/* default layout set */

@media screen and (min-width: 1205px){
  .wrapper{
    width: $large-screen;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1204px){
  .wrapper{
    width: 96%;
    margin: 0 auto;
  }
}